@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* body {
  background-image: url(/src/assets/images/body-background.png);
  background-size: cover;
  color: white;
  background-color: #040b1d;
} */

.nav-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.smooth-transition {
  transition: 0.15s ease-in-out;
}